
$lineCount: 4;
$count: 8;

// Colors
$white: #FFFFFF;
$blue: #2B3250;
$light-blue: #4B6891;
$grey: #585858;
$inactive: #AFB7BB;
$light-grey: #F2F2F2;
$mainLight: #E09B8D;
$mainDark: #D14A2F;
$light-red: #E09B8D;
$lighter-red: #F6E1DD;
$red: #D14A2F;
$lighter-blue: #B7C3D3;
$gold: #FFD533;
$off-grey: #333132;
$perfHover: #efeae5;
$orange: #D86F1B;

$drawer: #F1F1F1;
$grey-text: #8B8B8B;

// Font Colors
$base-font-color: $grey;
$heading-font-color: $blue;
$action-color: $mainDark;

@function randomNum($max, $min: 0, $u: 1) {
    @return ($min + random($max)) * $u;
}

@function randomColor() {
    @return rgb(randomNum(255), randomNum(255), randomNum(255));
}
 