/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

h2,
h3,
h4,
h5,
h6 {
  color: #FFD533;
}

ol,
ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navbar {
  display: flex;
  min-width: 500px;
  justify-content: space-around;
}
.navbar__item {
  color: gray;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.navbar__item::after {
  content: "";
  width: 0;
  border-bottom: 3px solid #377e9a;
  margin: auto;
  margin-top: 4px;
  display: block;
  transition: width 0.3s ease-in-out;
}
.navbar__item--active, .navbar__item:hover {
  opacity: 1;
}
.navbar__item--active::after, .navbar__item:hover::after {
  width: 24px;
}
.navbar__item:last-of-type {
  padding-right: 0;
}

.nav__logo {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__logo--picture {
  height: 90px;
  width: 100px;
  background: url(/img/logo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  animation: forwards;
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
}
.nav__logo--picture:hover {
  background: url(/img/logo2.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.nav__logo--name {
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
}

.page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 16px;
  background: red;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.page--active {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.page__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0em 5em 2em 5em;
  font-family: "Roboto", sans-serif;
}
.page__row--selfie1 {
  width: 40%;
  height: 40%;
}
.page__row--card1 {
  background-color: #2B3250;
  width: 60%;
  position: relative;
  order: 1;
}
.page__row--card1--title {
  position: absolute;
  left: 10%;
  top: 15%;
  font-size: 30px;
}
.page__row--card1--line {
  position: absolute;
  width: 55%;
  top: 20%;
  left: 10%;
  border: none;
  border-bottom: 2px solid #FFD533;
  overflow: hidden;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.page__row--card1--content {
  font-weight: 700;
  font-size: 300%;
  line-height: 120%;
  height: 205px;
  color: white;
  position: absolute;
  top: 25%;
  left: 10%;
}
.page__row--card1--link {
  display: inline-block;
  position: absolute;
  color: #FFD533;
  cursor: pointer;
  margin: 5px;
  font-size: 120%;
  bottom: 35%;
  right: 17%;
  text-decoration: none;
}
.page__row--card1--link:hover {
  color: lightyellow;
}
.page__row--card1--link .page__row--card1--link--arrow {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.page__row--card1--link .page__row--card1--link--arrow::after {
  content: ">>>";
  position: absolute;
  opacity: 0;
  top: 10%;
  right: -20px;
  transition: 0.5s;
}
.page__row--card1--link:hover .page__row--card1--link--arrow {
  padding-right: 40px;
}
.page__row--card1--link:hover .page__row--card1--link--arrow::after {
  opacity: 1;
  right: 0;
}
.page__row--card2 {
  background-color: #D14A2F;
  width: 68%;
  margin-right: 2%;
  position: relative;
}
.page__row--card2--title {
  position: absolute;
  left: 10%;
  top: 20%;
  font-size: 140%;
}
.page__row--card2--line {
  position: absolute;
  width: 55%;
  top: 30%;
  left: 10%;
  border: none;
  border-bottom: 2px solid #FFD533;
  overflow: hidden;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.page__row--card2--content {
  font-weight: 700;
  font-size: 300%;
  height: 205px;
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
}
.page__row--card2--link {
  position: absolute;
  color: #FFD533;
  cursor: pointer;
  margin: 5px;
  font-size: 120%;
  bottom: 5%;
  right: 15%;
  text-decoration: none;
}
.page__row--card2--link:hover {
  color: lightyellow;
}
.page__row--card2--link .page__row--card2--link--arrow {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.page__row--card2--link .page__row--card2--link--arrow::after {
  content: ">>>";
  position: absolute;
  opacity: 0;
  top: 10%;
  right: -40px;
  transition: 0.5s;
}
.page__row--card2--link:hover .page__row--card2--link--arrow {
  padding-right: 40px;
}
.page__row--card2--link:hover .page__row--card2--link--arrow::after {
  opacity: 1;
  right: 0;
}
.page__row--selfie2 {
  width: 30%;
  height: 100%;
  order: 1;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.footer .footer__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .footer__row .picture {
  display: flex;
  height: 90px;
  width: 100px;
  background: url(/img/logo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  animation: forwards;
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
}
.footer .footer__row .picture:hover {
  background: url(/img/logo2.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.footer .footer__row .middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer__row .middle .title {
  color: black;
  font-size: 28px;
  line-height: 50px;
  font-weight: 500;
}
.footer .footer__row .middle .item {
  color: gray;
  text-decoration: none;
  font-size: 16px;
}
.footer .footer__row .right > h2 {
  color: black;
  font-size: 28px;
}
.footer .footer__row .right > h5 {
  color: black;
  font-size: 16px;
}
.footer .footer__row .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer__row .icon__mail {
  max-width: 30px;
  max-height: 30px;
}
.footer .footer__row .icon__ins {
  max-width: 30px;
  max-height: 30px;
}

/*# sourceMappingURL=style.css.map */
